[2019-08-08 19:02] dm-CaT opened #1 "Add support nfc tag id (serial number)"
### Description
There is no possibility to get nfc tag id (serial number). Sometimes the only id is needed.
### Steps to Reproduce
1. Subscribe to OnMessageReceived event
2. Use NFC card with no data
3. Event is handled

### Expected Behavior
There is an information about NFC card id (serial number) in ITagInfo event argument
### Actual Behavior
ITagInfo event argument is null

### Additional info

[2019-08-12 16:43] franckbour commented on #1
Ok, I will add this on Android or you can make a PR if you want.
For iOS, Apple/Core NFC does not currently allow it. It seems it will be possible in the next release of iOS (iOS 13).

[2019-08-19 09:35] dm-CaT commented on #1
If smart-card doesn't contain any records the TagInfo is null.
The TagInfo with serial is expected.

[2019-08-19 10:48] dm-CaT commented on #1
I cannot create PR because in VS2019 preview 2.0 "MSBuild.Sdk.Extras" is broken.
[https://twitter.com/madrvojt/status/1161666121239617537](https://twitter.com/madrvojt/status/1161666121239617537)

[2019-08-19 15:45] franckbour commented on #1
Ok, I reopen the issue !

[2019-08-22 14:34] franckbour commented on #1
I didn't have any problem to get tag identifier even if my nfc tag is empty (no records).
What kind of nfc tags do you use?

[2019-08-22 14:52] franckbour opened #4 "[iOS] Support for writing NFC Tags"
Apple expands NFC on iPhone in iOS 13:
- Support for writing NDEF messages.
- Support for reading NFC Tag in background for some devices.
- Access to the NFC chip UID.

[2019-08-29 08:46] franckbour opened #5 "[iOS] Crash application when nfc tag is empty"

[2019-08-29 09:16] #5 closed

[2019-09-29 02:25] tuannq8 opened #7 "IOS cancel button cause app crash"
On newest version (0.11.1) when scan session appear, click on cancel button cause app crash. I try debugging and get Null Exception in function DidInvalidate.

Full stacktrace:
  at Plugin.NFC.NFCImplementation.DidInvalidate (CoreNFC.NFCNdefReaderSession session, Foundation.NSError error) [0x0008f] in <aea3b1249f2048edaf9c4bf168c0fc39>:0
  at (wrapper managed-to-native) UIKit.UIApplication.UIAppli

[2019-09-29 02:42] tuannq8 commented on #7
Sorry, after digging your code, found out i has to implement event OniOSReadingSessionCancelled. I closed this issue

[2019-09-29 02:42] #7 closed

[2019-10-18 15:37] lsoto40 opened #8 "Make Read Only"
Is there an option to make the tag read only after it has been written?

[2019-10-21 13:59] Blaubunt commented on #4
Are these still topics that need to be done?

[2019-10-21 17:24] franckbour commented on #4
Yes, now that iOS 13 is out, it needs to be done I guess :)

[2019-10-21 17:29] franckbour commented on #8
It's currently not available

[2019-11-15 03:46] efedeniz opened #10 "Credit Card"
I want to create payment system in my application. Payment system will be use NFC credit card. I am scan credit card and ı receive not supported tag. How ı can handle this thing ?

[2019-11-18 13:37] madareklaw commented on #4
there is an example for writing NFC is here: https://forums.xamarin.com/discussion/comment/392221#Comment_392221

if that helps :-)

[2019-12-31 16:31] #4 closed

[2019-12-31 16:31] #8 closed

[2020-01-08 18:43] PinoPinillo commented on #1
Hi, I have problems to read the UUID with iOS 13. It detects the tag, but the problem is that the identifier and the serial number are always null. This doesn't happen in Android.

I'm using the last version of the plugin and I have followed the README instructions, including all the needed code in info.plist and entitlements.plist.

Thanks in advance!

[2020-01-10 09:10] franckbour commented on #1
Are you using the lastest version from CI feed (0.1.13)? If so, what type of tag do you use?

[2020-01-10 10:55] PinoPinillo commented on #1
Ups, I'm using the latest version of NuGet, 0.1.11, I'll try with 0.1.13. Anyway, we are using MiFare tags.

[2020-01-10 15:47] franckbour commented on #1
FYI, another release is available in the CI feed (0.1.14) with some minor changes.
Feel free to open another issue if you have any problem.

[2020-01-10 15:47] #1 closed

[2020-01-10 16:03] PinoPinillo commented on #1
It worked! Thanks for your help!

[2020-01-15 22:33] Todd442 opened #13 "The executable was signed with invalid entitlements"
Tried deploying the sample you have here to an iPhone and I get (The executable was signed with invalid entitlements).

I'm almost positive it has nothing to do with your code, its a config issue but can't seem to get past it.

I've gone to the point of just deploying a "fresh" Xamarin Forms app with nothing more changed than selecting NFC in the entitlements.plist and I get the same error.

Thank

[2020-01-15 23:00] Todd442 commented on #13
Sorry rookie mistake.

[2020-01-15 23:00] #13 closed

[2020-01-17 19:10] diogopineda opened #14 "OnMessageReceived duplicated"
### Description
When I read a nfc tag I get the result, the second time the event OnMessageReceived is called 2 times, 3 times on third and goes on.
Implemented according to Code description
### Steps to Reproduce

1. Read a tag, OnMessageReceived is called
2. Read another Tag, OnMessageReceived is called 2 times.

### Expected Behavior
OnMessageReceived should be called only once by read.
### Act

[2020-01-19 14:37] maxima120 opened #15 "Android not scanning"
What happened:

I tried to add the nuget (v 0.1.11) to my optical scanner app to have RFID capabilities.

Couldn't make it scan - no events triggered.

I installed **RFID Tools app from the store - worked fine** on couple my credit cards (I don't want to scan credit cards - I just don't have any other RFID to test)

I downloaded source and ran your sample just in case - same result as my code - no

[2020-01-27 20:20] martinpaljak opened #16 "metawish: add some tags for github in project description"
dotnet, xamarin are the first ones to come to mind.

[2020-01-28 10:24] franckbour commented on #16
Done!

[2020-01-28 10:24] #16 closed

[2020-01-28 16:15] maxima120 commented on #15
Apparently this solution only works with certain tags. Previously I was testing by scanning my credit cards. And the RFID Tools worked with them but not Plugin.NFC

However I bought assorted HF RFID tags and Plugin.NFC can sense them.. Closing..

[2020-01-28 16:15] #15 closed

[2020-02-17 08:05] obelixA opened #17 "reading different payload than written"
Hi

I'm using NFC for years on my desktop and windows phone. I developed my libraries to handle the content from the payload written on the desktop app and reading same content in the windows phone app.
Now I want to redevelop the app on Android.
To handle the NFC I'm using this library BUT I get a totally different content in the payload.
If I write the content in the desktop app and read it in X

[2020-02-17 09:24] phangtingya opened #18 "Authenticate NFC before writing"
Is there anyway to authenticate the NFC card before writing to the NFC tag? What happen is that the NFC tag I am writing to is password protected.
Help needed, thank you!

[2020-02-17 17:03] obelixA commented on #17
...and here we go with the answer:

NDEF uses a platform and a platform ID to identify the the source platform and application that wrote the NDEF message.

So I adapted the class from SpringCard and made some changes to fulfill my needs.
Maybe someone has the same problems - here is the solution:

[code]

[2020-02-17 17:03] #17 closed

[2020-02-18 16:59] franckbour commented on #18
Unfortunatly, this feature is not yet supported.

[2020-02-18 17:03] franckbour commented on #14
Do you unsubscribe to the `OnMessageReceived` event anywhere?

[2020-02-18 17:06] franckbour commented on #10
Credit card are not supported. Only NDEF compliant tags.

[2020-02-18 17:06] #10 closed

[2020-02-18 17:13] franckbour opened #19 "Add UWP/Windows Support"

[2020-02-18 17:17] franckbour commented on #18
Duplicate of #9

[2020-02-20 09:34] obelixA opened #20 "Writing same tag just read"
Hi

I can read tags one by one without any problems.
Now I need to write the changed record on the tag at once.
Scenario: one comes with a card (tag) and holds it on the phone. The tag is read, data is checked. card is ok --> write current date (within the data) back to the card.
BUT the card cannot be moved around. this must be done in one step

Can someone guide me, how this is done? I can read,

[2020-02-21 10:44] MaximProzorov opened #21 "iso 7816"
Hi, NFC tag with type 7816 not recognized on iOS. I add these lines:
<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
<string>com.apple.developer.nfc.readersession.iso7816.select-identifiers</string>
as written in setup.

- Version with issue: 0.1.14
- Platform Target Frameworks:
  - iOS:  13.3.1

[2020-02-25 20:11] lsoto40 opened #22 "Tag Is Missing Exception"
### Description
I am getting an exception when trying to write a tag

What is weird is that the system actually writes the tag after throwing the exception, also not happening on the DEV phone.

The exception is that the 'Tag is missing'

Here is the stack trace I am getting:
Plugin.NFC
NFCImplementation.WriteOrClearMessage (Plugin.NFC.ITagInfo tagInfo, System.Boolean clearMessage, System.Boolean

[2020-02-27 09:57] jerryvanechelpoel opened #23 "Add support for Mifare NFC tags"
### Description

The TagInfo does not contain data when scanning a MifareClassic NFC.

### Steps to Reproduce

Scan a MifareClassic NFC by using the OnMessageReceived event

### Expected Behavior

The Records property should contain data.

### Actual Behavior

The Records property is null

### Basic Information

- Version with issue: 0.1.14
- Last known good version: Unknown
- IDE: Visual Studio 2

[2020-02-27 19:56] diogopineda commented on #14
@franckbour it worked. Thanks a lot!

[2020-02-27 19:56] #14 closed

[2020-02-28 08:51] obelixA commented on #22
Due to not getting ANY answers (seems development has stuck) I need to ask you:
can you read and write the tag without pulling it away between reading and writing?

[2020-02-28 14:55] lsoto40 commented on #22
I am not sure of that, since I don't go back and read it. However I do get the message the writing happened successfully. Not sure how this is happening.

I believe the writing is successful, but the exception is also generated.

[2020-03-20 11:11] MaximProzorov commented on #21
i found solution

[2020-03-20 11:11] MaximProzorov commented on #21
found solution
https://stackoverflow.com/questions/59947960/how-to-read-different-type-of-nfc-tag-in-nfctagreadersession-in-ios-13

[2020-03-20 11:11] #21 closed

[2020-03-22 22:29] shayo opened #25 "No supported application for this NFC tag? [Pixel 3]"
I'd like to get callback even when the application is minimized / closed (e.g. launch when a tag is detected).
According to the documentation (if I understand correctly) this should work for the provided sample. However, when I bring a simple RFID Tag (not full NFC compatible), I get the message "No supported application for this NFC tag" appear. I'm using Pixel 3 device.

Am I missing something?

[2020-03-25 01:12] shayo opened #26 "Can only identify tags once with the sample app on pixel 3"
Everything seems to be working fine initially. I launched the sample app. Placed a tag nearby and it is recognized (I can get the serial number).  However, any attempt to scan another tag afterwards gives me the error "No supported application for this NFC Tag". When I click "Read Tag" again, somehow this resets this behavior and I can read another tag. But then it goes back to "No supported appli

[2020-03-25 01:23] shayo commented on #26
More information:
The first intent is sent correctly:

OnNewIntent Intent { act=android.nfc.action.TAG_DISCOVERED flg=0x30000000 cmp=com.companyname.NFCSample/crc648f778470316a6e00.MainActivity (has extras) }
[Mono] DllImport searching in: '__Internal' ('(null)').
[Mono] Searching for 'java_interop_jnienv_get_byte_array_region'.
[Mono] Probing 'java_interop_jnienv_get_byte_array_region'.
[Mono] Fo

[2020-04-04 16:59] #26 closed

[2020-04-04 23:40] zizusoft commented on #23
Any idea is Mifare Classic tag identifier (the CSN) is being returned (even if the payload record isn't) ?

[2020-04-06 08:01] jerryvanechelpoel commented on #23
I believe it did. What I noticed is that tag is detected, but the payload is not read out. I tried _NFC Tools_ to make sure that the tag contains data, and it dit, so it must be clearly something in this library.

[2020-04-23 18:06] franckbour commented on #23
I have two MifareClassic 1k tags and its works fine.

The available technologies of your tag should be `NfcA, MifareClassic, Ndef`.
If you have `NdefFormatable` instead of `Ndef`, your need to format the tag before using this plugin.

![image](https://user-images.githubusercontent.com/7092552/80132904-ace06180-859c-11ea-9a03-3612ec858d90.png)

[2020-04-23 18:23] franckbour commented on #25
Can you provide more information please ?
Does it work with the sample app after writing the tag with `WRITE TAG (CUSTOM)` button ?

[2020-04-23 18:25] franckbour commented on #22
Do you have a reproduction sample or can you provide more information please ?

[2020-04-23 18:28] jerryvanechelpoel commented on #23
Well that's exactly what I said: NFC Tools detects the data, but Plugin.NFC just isn't able to read the data from the tag and show it to the consuming code.

[2020-04-23 18:29] #20 closed

[2020-04-23 18:41] franckbour commented on #23
Then i need more information. Like I just said, i tested with two differents tags and it works fine, data and serial number are read.
What technologies are used in your tag and what kind of data is stored ?

[2020-04-23 23:36] obelixA commented on #20
closing w/o solution? slightly uncool...
there is actually no way to handle that

[2020-04-24 12:40] franckbour commented on #20
As I already answered you in our last email conversation, this is a very specific use-case that i will not implement for the moment. But you can fork the repo, do what you need and eventually submit a pull request  when done!

[2020-04-24 13:00] obelixA commented on #20
OK. Thanks for your answer.

Best
Achim

=======================================
acs - it-systems UG Haftungsbeschränkt
Lindenhöhe 32
94127 Neuburg am Inn
---------------------------------------
web: www.acs-it-systems.de
mailto: a.bohmann@acs-it-systems.de
---------------------------------------
Tel: +49 8502 9159905
Fax: +49 8502 9159906
Mobil: +49 171 8884139
-----------------------------------

[2020-04-26 11:27] EvilKingStone opened #27 "Wrong behavior with Navigation"
I use navigation in my xamarin.forms app and "OnAppearing" calling again when tag is detected by device. And I get 'Tag is missing' when try to write tag. Everything will be ok in singlepage application.

To reproduce error you can change App.xaml.cs in your sample:
MainPage = new NavigationPage(new MainPage());
and try to write tag

[2020-05-05 21:07] nabilakhlaque opened #28 "How do I change the default text?"
Hello, I want to know how I change the default NFCDialogAlertMessage?

[2020-05-07 22:01] nabilakhlaque commented on #14
how do you mean by "unsubscribe" to OnMessageReceived? could you give me an example, please?

[2020-05-14 02:02] saamerm opened #29 "Android sample - Write functionality needs fixing"
### Description

Awesome work Franck! I was able to build it on iOS & Android and all the sample functionality worked great on iOS, however, the write functionality in the Android sample needs few fixes. We are able to read data all the time, but the Write and Clear buttons only work on App launch. I suspect it's because in your `Main.xaml.cs` you don't run `CrossNFC.Current.StartListening();` whe

[2020-05-16 02:28] twsl commented on #23
In order to support mifare classic on android, check [here](https://developer.android.com/reference/android/nfc/tech/MifareClassic), for mifare desfire you need to read from [isodep](https://developer.android.com/reference/android/nfc/tech/IsoDep)

[2020-05-16 07:14] #29 closed

[2020-05-16 07:22] franckbour commented on #28
Sorry, This is not yet implemented.

[2020-05-16 07:48] franckbour commented on #14
Check out the `UnsubscribeEvents()` method in `MainPage.xaml.cs` of the sample.
`CrossNFC.Current.OnMessageReceived -= Current_OnMessageReceived` is called to unsubscribe to this event.

[2020-05-16 23:30] saamerm commented on #28
@franckbour this is how NFCDialogAlertMessage is consumed in the `NFC.iOS.cs` currently:
[code]
How would you like the change to be made?

### First way we can solve:
We can either update the interface/API in INFC.shared.cs to this:
`void StartListening(string listeningMessage = "");`
and then change the AlertMessage line in the `StartListening()` from NFC.iOS.cs shown above, to this:
`AlertMessag

[2020-05-17 08:29] franckbour commented on #28
I think the second way is better because there are other messages that users might want to change.

We could add a new configuration object like below and pass it to the `CrossNFC.Current` instance via a method like `CrossNFC.Current.SetConfiguration(cfg)`

[code]
What do you think?

[2020-05-17 10:23] franckbour commented on #27
You probably have to subscribe on NFC events elsewhere than `OnAppearing`.
A quick fix for the sample will be like this:

[code]

[2020-05-17 21:13] saamerm commented on #28
I agree! This looks solid

[2020-05-20 06:12] kberawala opened #33 "You must disable foreground dispatching while your activity is still resumed"
### Description
Had anyone seen this ?
"You must disable foreground dispatching while your activity is still resumed"

On Android - I need nfc scanning to listen for the tag only when button is pressed.
iOS - works ok for below code.

### Steps to Reproduce
1.  Android app, when listening for tag one after another.
2. below is the code from view model

[code]

### Expected Behavior
 shouldnt crash

[2020-05-21 00:11] nabilakhlaque opened #34 "Issue with NFC on Android"
### Description
I cant seem to make it work, I've followed the instructions, but nothing happens when CrossNFC.Current.StartListening(); is called. On iOS if work like a charm. I have added these line inside <manifest> -tag:

<uses-permission android:name="android.permission.NFC" />
<uses-feature android:name="android.hardware.nfc" android:required="false" />

I have also init it in MainActivity.c

[2020-05-21 00:50] kberawala commented on #34
just checking have you done this ?

![image](https://user-images.githubusercontent.com/13636878/82511505-dc10d100-9b50-11ea-908a-b6b484c8deec.png)

[2020-05-21 09:49] franckbour commented on #33
You probably need to unsubscribe and stop listening in the main thread like this:
[code]

[2020-05-21 09:52] franckbour commented on #34
Do you have a reproduction sample?

[2020-05-21 10:06] nabilakhlaque commented on #34
yes I have.

[2020-05-21 10:06] nabilakhlaque commented on #34
Not right now, but I can create a new sameple project and share it with you.

[2020-05-21 16:54] nabilakhlaque commented on #34
Here I have created a new project from scratch... I hope its just something small that Im missing...
[https://send.firefox.com/download/6f92abcb04b3bc9d/#EM3BlwhlsgdY_sY0JO0wIA](url)

[2020-05-21 18:25] franckbour commented on #34
In iOS, it shows a dialog when you're listening for a tag.

In Android, you don't have any visual indication, it just starts the listener in the background so when you'll present a tag, it will be detected and read.

Your sample is not working. I got the same error than issue #33 when I present a tag.

In order to make it work, you can remove `OnMessageReceived` subscription from `MainPage()` cons

[2020-05-21 21:50] kberawala commented on #33
It worked. Thanks

[2020-05-21 21:50] #33 closed

[2020-05-25 03:37] yur-no-1996 opened #35 "Android scan NFC all the time."
# Description
I'm Junior Developer in Thailand. I want to scan NFC all the time without clicked button to read.
Can I make it scan all the time ? And I want to know how to make it.

### Steps to Reproduce
1. Open Forms
2. Scan NFC
3. Exception
** I try add code "CrossNFC.Current.StartListening();" on many location but it's cannot StartListening again.

### Expected Behavior
I want can scan NFC all

[2020-05-26 02:00] #35 closed

[2020-05-26 02:03] yur-no-1996 commented on #35
I found how to solve my problem in this link: https://github.com/franckbour/Plugin.NFC/issues/34

[2020-06-01 16:52] dm-CaT commented on #27
It doesn't matter when the subscription is done.
1. Create blank Xamarin Forms Project.
2. Init CrossNFC in Android project, set required permissions.
3. Change in the shared project app.xaml.cs Main page to the navigation page
[code]
4. Add button to the MainPage. Bind to ListenCommand
[code]

[code]
5. Run app
6. Set breakpoint in OnAppearing method.
7. Click Listen button.
8. Place card on phon

[2020-06-01 17:39] dm-CaT commented on #27
I did some googling about that. The reason is that the MainActivity is paused before new intent processing.

[2020-06-01 18:06] dm-CaT commented on #27
The only one way I found to avoid it is to push page in modal navigation stack. This case OnAppearing is not called.

[2020-06-02 12:38] Jamie-Sherman opened #36 "Need help with App Lifecycle to auto-run NFC reader"
### Description
I'm fumbling thru a app that uses your sample code with a WebView control to show C# WebForm pages from NFC URLs. I've modified the example code to work with the button code at the end of issue #33 but I'm lost on how to get NFC to start and stop from App.OnStart(), App.OnSleep() and App.OnResume(). I have no experience with Xamarin or mobile app development.

### Steps to Reproduc

[2020-06-03 11:09] timothy-gibson commented on #27
I'm also encountering this issue. OnDisappearing() is called before the event is handled and OnAppearing() is called after the event is handled. @dm-CaT did you find any other way around it?

[2020-06-03 16:29] franckbour commented on #27
@dm-CaT, @timothy-gibson

I followed these reproduction steps but I didn't reproduce the final result, app didn't stop.
This is my test project: [TestIssue27.zip](https://github.com/franckbour/Plugin.NFC/files/4724598/TestIssue27.zip)

But I maybe misunderstood the issue... If so, please provide a reproduction sample and some clear explanations.

[2020-06-03 17:26] dm-CaT commented on #27
@timothy-gibson,

No, I didn't. To way around I took a look into Xamarin Forms source code. I was looking for a place where OnDisappearing/OnAppearing are called as the result of the MainActivity deactivation and activation back. But I didn't find such code because XF source code is too entangled.
I think if we'll find this piece of code we'll be able avoid somehow OnAppearing/OnDesappearing calls

[2020-06-12 05:50] DimitriVanhaecke opened #37 "Send class from phone to phone"
### Description

A Question

Is there no way to send data from 1 phone to another with nfc, android beam.

I would like to exchange data(maybe a json string) when 2 phones come close to each other

Thx for the advice

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Framewo

[2020-06-20 09:43] #28 closed

[2020-06-24 14:29] zishani opened #39 "<<DELETED>>"
<<DELETED>>

[2020-06-24 17:56] #39 closed

[2020-06-30 15:08] GameJaxx opened #40 "[iOS] NFC Tag not reading on iOS unless I have a message on the tag"
### Description

Basically the title. I can't read a NFC on iOS unless it has a message on it. For the purposes of my app, I'm only really wanting to get the "SerialNumber" from the scan and thus, leave the tag empty.

I've got the code working as intended on Android with both a empty tag and tag with a "test" message on it working.

On iOS, if I scan the tag with the "test" message it works but I

[2020-06-30 17:13] iDiabDev opened #41 "Please add ISO15693 tags"
### Description
Please add ISO15603 tags support - to iOS
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2020-07-02 21:09] Jakar510 opened #42 "[ BUG ] Java.Lang.IllegalStateException: Foreground dispatch can only be enabled when your activity is resumed"
### Description

When scanning an NFC tag on Android 10, I get the following exception:

	Java.Lang.IllegalStateException: Foreground dispatch can only be enabled when your activity is resumed
	  at Java.Interop.JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method, Java.Interop.JniArgumentValue* args) [0x0006e] in <9324da45a6654

[2020-07-03 17:34] Lydecker commented on #40
I get exactly the same error.

I have tags that I want to get the CSN / UDID off of (but there is no data written to the tag).

On other IOS apps - I can read that data off too - with this plugin - I just get a Stack Error or a Read Error.....

[2020-07-03 17:41] Lydecker opened #43 "Where is 0.1.17?"
I notice the code has been updated to version 0.1.17, but the NuGet is still on 0.1.16?

[2020-07-06 20:26] Jakar510 commented on #42
![StartNFC](https://user-images.githubusercontent.com/49802225/86638554-161d2180-bf9d-11ea-8b36-e9502964e407.PNG)
![StopNFC](https://user-images.githubusercontent.com/49802225/86638555-161d2180-bf9d-11ea-95b3-c7b30afc3217.PNG)

[2020-07-06 20:44] Jakar510 commented on #42
Added a test page. must wrap in 'Task.Run(() => MainThread.BeginInvokeOnMainThread(() => ...' in order to re-enable scanning.

[TestNFC.zip](https://github.com/franckbour/Plugin.NFC/files/4881138/TestNFC.zip)

[2020-07-09 08:02] Lydecker commented on #43
Has now been released

[2020-07-09 08:02] #43 closed

[2020-07-11 08:07] #34 closed

[2020-07-12 20:16] saamerm commented on #40
@Lydecker and @GameJaxx could you guys try to clone this project and try it with the sample herein? And then place an exception catchpoint and let us know where the exception is caught.

[2020-07-12 20:24] saamerm commented on #37
You are looking at "HCE" or Host-based Card Emulation.

It seems to be [possible but difficult](https://stackoverflow.com/questions/24916259/use-another-android-device-as-nfc-tag) to do on Android

And you certainly can't do it on iOS devices yet, as you can see from the [Apple forums](https://developer.apple.com/forums/thread/128931).

[2020-07-12 20:25] saamerm commented on #36
@Jamie-Sherman Why are you trying to make changes in the App LifeCycle functions instead of the Page lifecycle functions?

[2020-07-12 20:26] saamerm commented on #42
@Jakar510 did you take a look at this fix mentioned [over here](https://github.com/franckbour/Plugin.NFC/issues/33)?

[2020-07-12 20:27] saamerm commented on #41
What are the changes needed to be made in order to support ISO15603 tags?

[2020-07-12 21:29] saamerm commented on #27
@dm-CaT and @timothy-gibson I made it work in my ViewModel perfectly in a stable app. All i did was ensure that I assigned the event handlers only once, and then in the destructor of the viewmodel, and every navigation away from the page, i unassigned the event handlers

[2020-07-15 14:33] Jakar510 commented on #42
Thank you.

[2020-07-15 14:33] #42 closed

[2020-07-16 13:03] zizusoft opened #44 "Issues Reading Mifare Classic 1k on iOS? Read this..."
If you are having issues reading Mifare 1k Classic cards - the chances are the issue is not with this library, but with Apple's API.

On iOS 11, apple released the ability to READ NFC NDEF data only using the NfcNdefReaderSession API (https://developer.apple.com/documentation/corenfc/nfcndefreadersession)

A Mifare 1k Classic card will scan if there is a valid NDEF record on it. A blank card will

[2020-07-23 06:48] HyShai opened #45 "Expose the Capacity/MaxSize of a tag"
### Description
Feature request to be able to access the capacity/max size of a tag.

[2020-07-23 08:38] seanyda opened #47 "Scanning EU Passport Support iOS"
### Description
My iPhone cant detect the NFC tag on my passport. Is there any additional configuration i need to make or does the library not support scanning passports?

"For getting access to the chip, the same combination of document number, birthdate and expiry date is used as password. Additionally, the chip can accept one or more Card Access Numbers (CAN) as a password. Typically, a CAN is

[2020-07-23 13:29] #47 closed

[2020-07-25 09:31] #40 closed

[2020-07-25 09:36] #45 closed

[2020-07-25 09:41] franckbour commented on #44
Thanks @zizusoft

[2020-08-10 15:17] sujeetulli commented on #41
Any update on this ticket?

[2020-08-10 16:29] saamerm commented on #41
@sujeetulli do you know what are the changes needed to be made in order to support ISO15603 tags?

[2020-08-10 16:34] saamerm commented on #41
@sujeetulli as you can see here https://github.com/franckbour/Plugin.NFC/blob/3a94b5fc8ad64847b296d33ec1abf3a1432f6981/src/Plugin.NFC/iOS/NFC.iOS.cs#L102 , it should work. Could you please share what error message you are getting?
Alternatively, you can work or download this project, and try to see how you can fix it. And then you can submit a pull request with the fix

[2020-08-11 09:58] sujeetulli commented on #41
While adding the below code getting typecast issue.

INFCNdefTag GetNdefTag(INFCTag tag)
		{
			if (tag == null || !tag.Available)
				return null;

			INFCNdefTag ndef;
			if (tag.GetNFCMiFareTag() != null)
				ndef = tag.GetNFCMiFareTag();
			else if (tag.GetNFCIso7816Tag() != null)
				ndef = tag.GetNFCIso7816Tag();
			else if (tag.GetNFCFeliCaTag() != null)
				ndef = tag.GetNFCFeliCaTag();

[2020-08-11 12:26] firstcoder-1 opened #50 "IOS 13.6 IPhone 11 Pro Max wont scan ISO 14443-4 NXP MiFare Plus"
### Description
Hi Trying to use this framework but not working for: IOS 13.6 IPhone 11 Pro Max, wont scan IOS 14443-4 NXP MiFare Plus
-Works fine on Andriod,
-It wont scan using "NFCTagReaderSession"
-it will read using "NFCNdefReaderSession", tried another stand along project

Any ideas? trying to use "NFCTagReaderSession", to write to tag.

### Steps to Reproduce

1. Build/run app on IOS (13.0+

[2020-08-12 13:52] sujeetulli commented on #41
@saamerm @franckbour Do you have a solution for this?
Otherwise, I need to look into alternative ways.

[2020-08-12 23:34] saamerm commented on #41
@sujeetulli unfortunately I have no NFCIso15693Tag device to replicate the issue.
And why don't you just use the `is` keyworkd instead, like this:
`else if (tag is INFCIso15693Tag iso15693Tag)`

[2020-08-13 06:46] sujeetulli commented on #41
@saamerm  I'm already done with above changes,
But my only point is, How can we read 'message'
if (result is INFCIso15693Tag iso15693Tag)

Example: If i use the below NFCNdef then i'm able to read the data.
public class NFCImplementation_Before_iOS13 : **NFCNdefReaderSessionDelegate**, INFC
/// <summary>
		/// Event raised when NDEF messages are detected
		/// </summary>
		/// <param name="session

[2020-08-20 08:36] KerosenoDev opened #51 "How can I write an NFC tag that an RFID reader understands?"
### Description
I have the RFID reader RD200-M1-G, which is compatible with: MIFARE 1K S50, 4K S70 4/7-byte UID and MIFARE Ultralight.
I use the sample trying to write an NFC tag that the reader can understand (hex):

![image](https://user-images.githubusercontent.com/36072624/90745303-81624f00-e2d0-11ea-81a7-6107488c6b5a.png)

But it doesn't read the code I want, instead random codes come out:

!

[2020-08-20 13:25] ManniAT opened #52 "Enable setting LanguageCode for TextRecords"
### Description

### Steps to Reproduce

1. Use the sample to write a TextRecord on Android
2.
3.

### Expected Behavior
Have a possibility to set the Language code when creating a TextRecord

### Actual Behavior
Uses Locale.Default.ToLanguageTag() (NSLocale.CurrentLocale on IOS) which obtains the current (set on the device) language.

I want to create Tags with specific (different) LanguageCodes

[2020-08-29 14:34] ahmedkasani1988 commented on #50
did you get solution please?

[2020-08-29 17:20] firstcoder-1 commented on #50
The current solution on further testing worked with ISO 14443-3 tags on IOS 13.6 IPhone 11 Pro Max
but for ISO 14443-4 tags, its not working.
The best work around after debugging the problem in Swift code, was to use NFCNdefReaderSession as this is how all the problems in Swift are done (from all apples read & write examples), which works both read and write for 14443-3 & 14443-4. This worked for

[2020-08-29 17:20] #50 closed

[2020-08-30 19:03] ahmedkasani1988 commented on #50
My thanks to you sir

On Sat, Aug 29, 2020, 8:20 PM firstcoder-1 <notifications@github.com> wrote:

[2020-09-07 04:28] saamerm commented on #51
Did you try a different mime type or type format? Are you able to use any apps that are already published on the app store?

[2020-09-08 07:08] waletoye opened #53 "Doesn't work on Android"
### Description
I installed the sample project on two andorid phones (Samsung s10+ and Note 4). It keeps giving the exact same information (as in the attachment) no matter what i try to "write" to either phone.

### Steps to Reproduce

1. Install on each phone
2. Attempt to write to either phone
3. Attempt to read from either phone.

### Expected Behavior
1. Tags should be written successfully.
2.

[2020-09-14 04:20] franksfleung opened #54 "Android: Event lost when press home button"
### Description
The tag cannot read after press home button

### Steps to Reproduce

1. Open the app
2. Tag card
3. Press home button
4. Wakeup the app
5. Tag card

### Expected Behavior
Card should be read at step 5.

### Actual Behavior
The app does not has response at step 5.

I used this as reference
https://www.uuu.com.tw/Public/content/article/20/20200427.htm

[2020-09-22 06:16] giv86 opened #55 "HCE compatibility"
Does this plugin, by any chance, can help me with card emulation?

[2020-09-22 11:12] saamerm commented on #55
@giv86 could you share some links showing how card emulation is done on iOS native?

[2020-09-22 11:13] saamerm commented on #54
Did you try to press the read tag button, and did it not tag the card again? @franksfleung

[2020-09-22 11:15] saamerm commented on #53
You’re saying that all button perform a Read function in the sample app? @waletoye
Or is it an issue in the library itself?

[2020-09-22 11:17] saamerm commented on #52
@ManniAT could you create a draft PR for this work and we ll look at possibly integrating it

[2020-09-22 11:17] saamerm commented on #51
@KerosenoDev ^

[2020-09-22 11:58] giv86 commented on #55
For iOS there is no possibility currently. Only for android. And for such there are some examples, however my programming skills are to low to use them...
https://github.com/xamarin/monodroid-samples/tree/master/CardEmulation/CardEmulation

[2020-09-22 17:20] saamerm commented on #55
@franckbour since its not supported by iOS yet nor in the foreseeable future, do we want to add this functionality to the library?

[2020-09-23 06:31] franksfleung commented on #54
Yes it works if press the read tag button.
But I expected it can read the card even I do not click read tag button.

[2020-09-23 07:24] giv86 commented on #55
But for android this is fully supported. Not only iOS is on the plate with Xamarin :)

[2020-09-23 10:32] franckbour commented on #55
This is a cross platform library so, in my opinion, it's not interesting to add a feature only available in one platform.
But feel free to make a pull-request to add this feature if you really need it.

[2020-09-23 12:36] saamerm commented on #55
@giv86 I could have looked into it if it was technologically possible to do in native iOS development (swift/objective-c).
Or you could hire someone to implement it for you, they just have to join this library along with the CardEmulation sample you shared

[2020-09-23 13:26] saamerm commented on #54
Try to get the most recent changes that were just merged @franksfleung

[2020-10-07 07:30] ManniAT commented on #52
@saamerm sorry for the delay - I'll do this the next days.

[2020-10-07 11:47] ManniAT commented on #52
@saamerm I cloned the repo - changed code, created a branch "NDEFLocale" - but I'm not allowed to push

[2020-10-07 11:58] saamerm commented on #52
@ManniAT yup, you have to create a pull request from your own repo. Here’s a resource: https://www.earthdatascience.org/courses/intro-to-earth-data-science/git-github/github-collaboration/how-to-submit-pull-requests-on-github/

[2020-10-07 12:00] ManniAT commented on #52
Sorry for that :-)

[2020-10-25 19:07] Diesel1017 opened #58 "Android CrossNFC.Current.IsEnabled status not changing"
### Description
**On the Xamarin Forms side the CrossNFC.Current.IsEnabled status not changing when i Enable/Disable the NFC on Android 10 phone.**

Only when i subscribe the Plugin.NFC.CrossNFC.Current.OnNfcStatusChanged event!
Without the event subscription, the CrossNFC.Current.IsEnabled status, stays in the state it was in at the inicialization.

### Steps to Reproduce
1.  Turn on NFC on phone

[2020-10-30 08:30] duggan0f opened #59 "NFC is not available/disabled on iPhone iOS 14"
Hi folks,
I'm running some test in the NFC/RFID domain and found your package.
I managed to build your sample for iOS and loaded on my 2 iPhone (7 and X, both running iOS 14.x).
But I always get the message that the NFC is not available/disabled.
Do you have any advice or solution?
Is it an iOS compatibility reason?

### Basic Information

- Version with issue: 0.1.18
- IDE: VS for Mac, Xamarin
-

[2020-11-09 18:55] thedee opened #60 "Events raised for errors"
Is there any event that is raised when a scan error for iOS occurs?  For example if you get a "Stack Error" or a "Read error. Please try again" it shows the error on the iOS popup but I don't see any events that tells me there was an error.

[2020-11-19 14:45] f-richter commented on #41
This suggested change actually works for me and now I am able to read and write ISO 15693 tags.

[2020-11-19 15:25] saamerm commented on #41
@f-richter That's awesome! So if you add these two lines you are able to read ISO 15693 tags?
[code]
No other changes? Do you want to create a PR?

[2020-11-19 20:05] f-richter commented on #41
Exactly, these two lines. I would like to create a PR, but I don't have the permission.

[2020-11-19 21:15] saamerm commented on #41
You should be able to, just like I did when I first contributed. Following is the summary, and you can see details [here](https://opensource.com/article/19/7/create-pull-request-github).

* Fork it
* Clone it to your local system
* Make a new branch
* Make your changes
* Push it back to your repo
* Click the Compare & pull request button
* Click Create pull request and voilà!

It's easy for me to

[2020-11-19 21:18] saamerm commented on #60
@thedee Not yet. Where would you recommend that event getting invoked? Also is there a similar thing we can do for Android as well?

[2020-11-19 21:46] f-richter commented on #41
PErfect, thank you @saamerm. PR is created https://github.com/franckbour/Plugin.NFC/pull/61

[2020-11-19 22:12] saamerm commented on #59
Are you sure you have the right certificate and provisioning profiles that include the NFC entitlement? I obviously needed to change the bundle ID to the my own app who's details are registered in the Apple Developer portal. There is a work around I believe, that doesn't require a paid Developer account using Xcode to generate a temp cert & provisioning profile.

Just for you, I just downloaded th

[2020-11-19 22:12] saamerm commented on #59
@duggan0f ^

[2020-11-19 22:14] saamerm commented on #58
@Diesel1017 that's a good catch! Do you have a recommended way of resolving this?

[2020-11-19 22:14] saamerm commented on #55
@giv86 should we close this?

[2020-11-19 22:15] saamerm commented on #54
@franksfleung is this still an issue?

[2020-11-19 22:16] saamerm commented on #53
@waletoye could you please test the latest sample?

[2020-11-19 22:17] saamerm commented on #51
@franckbour perhaps close this from inactivity?

[2020-11-19 22:19] saamerm commented on #37
@Dimtrivh

[2020-11-23 07:14] #51 closed

[2020-11-26 01:53] JerVaughan opened #62 "The "Identifier" Property in the ITagInfo Object is Reversed for iOS"
### Description

When scanning an NFC tag, the "Identifier" property in the ITagInfo object is reversed for iOS, and subsequently shows a different SerialNumber property for the same tag.

The "NFC Tools" app on both Android and iOS show the same serial number when scanning a tag.  Android using Plugin.NFC also matches this serial number.  It's only when I use Plugin.NFC on iOS that I'm seeing the

[2020-11-26 02:23] saamerm commented on #62
@JerVaughan any recommendations on what can be changed in order to fix this?

[2020-11-26 04:01] JerVaughan commented on #62
For now, I've modified my "Current_OnMessageReceived" method in my app with the following when getting the tag's serial number... I'm just reversing the array if it's iOS.  I've successfully modified your code earlier to add-in the pending fix for reading ISO15693 tags (Issue #41 and Issue #61) until it's released, so I'm fairly comfortable with it.  The "GetTagIdentifier(INFCNdefTag tag)" method

[2020-11-26 20:35] saamerm commented on #62
@JerVaughan
Thanks for that, it is very strange. Is there any documentation that shows that iOS reverses the byte array? I certainly don't think anything in our code causes the reverse isn't it?

[2020-11-27 06:27] franksfleung commented on #54
@saamerm not yet try. Hope can test at coming weeks

[2020-11-30 08:27] mdhom opened #63 "Opening app with IntentFilter does not work on Android"
### Description
I want my app to open when one of my tags is scanned. I can't get it to work on Android.

### Steps to Reproduce

1. I write a tag with the following NFCNdefRecord:
[code]
2. I add the IntenFilter in MainActivity:
[code]
3. I start the app via debugger once, close it.
4. I scan the previously written tag.

### Expected Behavior
My app opens.

### Actual Behavior
Some default androi

[2020-11-30 13:43] saamerm commented on #63
Nice catch
Were you able to use the project and fix the issue? Do you  ou u know what might be causing the behaviour?

[2020-12-01 07:29] mdhom commented on #63
Well no, actually that is a real problem for me and my app i am trying to develop, so i was hoping for help 😅
Good point though, i will try and see if I have the same problem with the sample app.

[2020-12-01 07:51] mdhom commented on #63
I got it working, with writing the following record:
[code]
So i changed `TypeFormat` from `WellKnown` to `Mime`. I do not know if this has any caveats, but for now it works for me. Can anyone confirm that this is a valid way to fix this issue?

[2020-12-01 08:22] franckbour commented on #63
Indeed, this is the only way if you want to open a specific application with a tag.
Type format should be `Mime` and `MimeType` should be your application id (e.g. `application/com.companyname.yourapp`).

See [Launch app when a compatible tag is detected on Android](https://github.com/franckbour/Plugin.NFC#launch-app-when-a-compatible-tag-is-detected-on-android) (I agree that section isn't clear a

[2020-12-01 08:52] mdhom commented on #63
ok thanks, maybe we could update the description with a little note. Or maybe it was just my stupidity. I'll let you decide 😄

[2020-12-01 15:37] franckbour commented on #62
The tag identifier seems to be reversed only with ISO15693 tags but unfortunately, I have none of these. I cannot confirm that assertion for the moment.

[2020-12-01 15:40] franckbour commented on #63
I will update the readme ;)

[2020-12-01 15:40] #63 closed

[2020-12-01 15:44] #55 closed

[2020-12-01 15:45] #52 closed

[2020-12-03 12:32] f-richter opened #64 "Leave "NDEF not supported" evaluation to the user in iOS"
### Description
With iOS, when reading a tag without any data on it (like factory new) the plugin will throw the NFCErrorNotSupportedTag message ("Tag is not supported"), because there is no NDEF data and therefore NFCNdefStatus is "NotSupported". But what if I am not interested in the NDEF data and just want to read the serial number of the tag? What if I have tags and just want to identify them

[2020-12-03 14:26] f-richter commented on #62
I can confirm that assertion. Sorry for non-english language in the screenshots. So you can see that the serial number (Seriennummer) in iOS read with the Plugin.NFC is reversed. @JerVaughan maybe you can create a pull request?

| NFC Tools Android  |  NFC Tools iOS  | Plugin NFC Android  |  Plugin NFC iOS |
|---|---|---|---|
|  <img src="https://user-images.githubusercontent.com/74722711/10103085

[2020-12-03 15:02] saamerm commented on #62
This seems to be an iOS bug because I haven't seen this assertion anywhere in their documentation. Have you guys seen anything that got you to try to do the reverse in the first place?

[2020-12-03 16:37] franckbour commented on #62
No, I didn't know that.

[2020-12-03 16:43] franckbour commented on #64
I thought that I fixed this but apparently not...

[2020-12-04 22:46] Legolas87 commented on #59
i confirm that it doest work for ios 14.2 , is says NFC is not available but actually it is available and works for other nfc apps

[2020-12-08 17:25] #62 closed

[2020-12-08 17:26] #64 closed

[2020-12-08 17:26] #41 closed

[2020-12-22 22:46] pazunino commented on #27
Hi @saamerm I am stuck with this issue. Can you explain how do you workaround it? I didn't understand your last message. Thanks.

[2020-12-23 02:21] saamerm commented on #27
@pazunino if you see @dm-CaT ‘s comment, you cannot use the OnAppearing and OnDisappearing from Android. So instead try to use a view model and use the constructor and destructor of the view model instead

[2020-12-30 09:50] franksfleung commented on #54
@saamerm Just download the latest version, but still fail

[2021-01-02 19:55] dalton5 commented on #23
Hi,

I had the same issue. And the problem came from the format method line 248

In the NFC.android.cs file,

Add an else and this code. It worked perfectly for me. And I was not able to do it with the original code.

`NdefFormatable ndefFormatable = NdefFormatable.Get(_currentTag);
					if (ndefFormatable != null)
					{
						// initialize tag with new NDEF message
						try
						{
							ndefF

[2021-01-16 19:01] falvado opened #66 "Supporting raw tag (not ndef} on iOS"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2021-01-16 19:37] saamerm commented on #66
@falvado what's your question?

[2021-01-26 05:33] JerVaughan commented on #66
I think the issue might be that you can't scan a tag that doesn't have any records written to it in iOS (i.e. the "raw tag" reference in the title of this issue?).  I've been troubleshooting this issue myself with ISO 15693 tags... the goal for me is to just get the tag's serial number.

The following code works on Android when looking at the ITagInfo parameter passed to the Current_OnMessageRecei

[2021-01-26 05:41] JerVaughan commented on #66
After further review, this may be the same issue as #64.

When will these changes, along with issue #62, be published into a new version?

[2021-01-26 05:46] JerVaughan commented on #66
Upon even further review... it looks like these updates are available in v0.1.19!

[2021-01-26 11:11] marcellangmaier opened #67 "Get ITagInfo of Launch Tag"
Thank you for the great plugin. Easy to use and works very well.
I made an app which is launched on scanning a tag.
The app gets startet as it should be.
But how can I get the Tag Information (I am interrested in the Serialnumber) for this Launch Tag?

I am using this Plugin in my Visual Studio 2019 solution with version 0.1.19 of your plugin.

[2021-01-26 14:39] saamerm commented on #67
- You have to first assign an event handler function to the event, like this:
‘CrossNFC.Current.OnTagDiscovered += Current_OnTagDiscovered;’
- Then start listening to the NFC
- Once you tap on an NFC device it will call that event handler function and carry the ITagInfo object with it along with all the data you need

[2021-02-04 15:52] marcellangmaier commented on #67
Thank you for your reply. You are describing the procedure to read an NFC tag inside an app. Thats not my problem.
My problem is the following:
Once my app was launched by touching an NFC tag, I want to be able to know the SerialNumber of the tag which caused the app to start.

[2021-02-04 17:15] saamerm commented on #67
Ah I see! @marcellangmaier, according to https://stackoverflow.com/a/60205855, you need to override the OnNewIntent in your main activity and you ll be able to get the info of the object that woke up your app

[2021-02-09 16:56] sdinnes commented on #59
I am having the exact same issue, albeit I am using VS for Windows and an iPhone XR.

Can I ask for clarification about "right certificate and provisioning profiles"?  I have a provisioning profile issued for my team and in XCode on the Mac I can verify both that the ID (the ten character label next to my name) shown matches the one used by VS; and that the profile itself includes "Near Field Comm

[2021-02-09 17:12] saamerm commented on #59
Can you guys add breakpoints in the library iOS logic for availability and see what's the reason it's returning false?

[2021-02-09 17:15] saamerm commented on #66
@falvado can we close this?

[2021-02-09 17:54] franckbour commented on #66
Yes, we can.

[2021-02-09 17:54] #66 closed

[2021-02-09 17:57] #36 closed

[2021-02-09 18:00] franckbour commented on #59
@sdinnes @Legolas87 Can you provide a reproduction sample?

[2021-02-09 18:07] franckbour commented on #54
@franksfleung do you reproduce the issue with the sample project of this repo?

[2021-02-10 01:46] franksfleung commented on #54
@franckbour it works. I found there is a new method and the problem solved

[2021-02-10 01:46] #54 closed

[2021-02-10 15:37] sdinnes commented on #59
@saamerm Thanks for the suggestions!  In order to narrow down the issue, I took your sample project from here, gave it the same ID as my app (in order to use and test my provisioning profile) and ran it on my phone.  It worked, perfectly!  So that eliminates the phone and the provisioning profile.

I tried emulating your code in mine, but this made no difference.  CrossNFC.Current.IsAvailable stil

[2021-02-11 12:33] sdinnes commented on #59
I am delighted now to report success!  Having eliminated all code and obvious settings differences between my app and the sample one, I started comparing the likely suspects, the iOS files, and one by one made them the same.  The first significant difference was between the vsproj files: the sample app has this entry missing from mine under PropertyGroup (Debug|iPhone):

< CodesignEntitlements >En

[2021-02-11 12:58] franckbour commented on #59
@sdinnes glad to hear it!

[2021-02-13 12:03] pjsecker opened #68 "Support for BAC authentication with chip"
We would like to be able to use this library to authenticate to items such as passport and ID cards which are protected and require BAC authentication to open the chip.

https://en.wikipedia.org/wiki/Basic_access_control

Is this something that could be possible, either with existing implementation or further enhancement.

[2021-02-24 00:30] danielmeza commented on #44
@franckbour this should be included in the readme?

[2021-02-24 01:13] saamerm commented on #44
@danielmeza yeah that's a great idea. You want to submit a PR to add it in the README?

[2021-02-24 14:39] zizusoft commented on #44
In an ideal world, (although I appreciate this would be more work) this library would implement both NfcNdefReaderSession and NfcTagReaderSession.

In other (non Xamarin) libraries they have kept the NfcNdefReaderSession available from iOS11s API to support Mifare 1K Classic (as it exists in abundance in the world due to the low cost) and added the NfcTagReaderSession to the side of it rather then

[2021-02-24 20:19] saamerm commented on #44
@zizusoft you're welcome to submit a PR so we can support both

[2021-02-25 18:17] saamerm commented on #68
@pjsecker there are a lot of different types of NFC tags in the industry, that follow different standards.
This library only supports what technically possible to authenticate using an Android & iPhone, so primarily .
I have not read any reports of BAC being technologically supported by native phones, so this library can't make it happen either

[2021-03-01 15:49] danielmeza commented on #44
@zizusoft @franckbour @saamerm Tanks you! Can this be closed now?

[2021-03-02 20:12] danielmeza commented on #19
We can start with https://docs.microsoft.com/en-us/samples/microsoft/windows-universal-samples/nfc/ for UWP, I wonder if there is any native implementation for Linux

[2021-03-02 20:33] danielmeza opened #70 "Add support to Linux systems"
This issue is to track the support to Linux systems.

Since the Xamarin will become MAUI and multi-platform framework including Linux system, we gonna need to support also Linux system to fill the gap on platforms implementations.

Here is a [background ](https://blog.linuxplumbersconf.org/2011/ocw/system/presentations/453/original/Linux_NFC_Subsystem_LPC2011_v5.pdf)

Now the linux NFC is provided

[2021-03-05 11:02] ManuLin opened #71 "Problems when using ZXing Barcode Scanner"
### Description

I'm facing a really strange issue and I'm thus curious if anyone has already run into a similar issue. I'm using the plugin in our app and it works perfectly on Samsung devices, however, I'm facing the following issue on a Huawei device.

Our app is listening for NFC tags on a page where I'm also using a bar code scanner (using the ZXing.Mobile plugin). On Huawei devices the app i

[2021-03-05 11:45] ManuLin commented on #71
Update: I just found a Github issue for the ZXing.Net.Mobile plugin which seems to be related. Unfortunately it seems like this is more a hardware / manufacturer related issues that on some devices the NFC chip is disabled while the camera is active...

https://github.com/Redth/ZXing.Net.Mobile/issues/664

[2021-03-25 11:55] adnan-rolustech opened #72 "NFCV Reading Issue"
### Description
I am not able to read the NFCV class of tags. Its isSupported bit is always true

<img width="821" alt="Screenshot 2021-03-24 at 14 37 26" src="https://user-images.githubusercontent.com/34885658/112435063-11d0a880-8d66-11eb-8911-db239e17aa15.png">

[2021-04-13 08:04] saamerm commented on #72
@adnan-rolustech is it supposed to be supported by both iOS & Android?
Could you please share some documentation supporting that?
Also did you try to clone the project and use it instead of the Nuget to debug why it's always false?

[2021-04-13 08:05] saamerm commented on #71
@ManuLin makes sense. Do you want to close this issue then?

[2021-04-13 08:07] saamerm commented on #70
@danielmeza that library is in C. It would be interest see it in action. What's a good starting point?

[2021-04-13 08:07] ManuLin commented on #71
@saamerm Yes, I'll close it.

[2021-04-13 08:07] #71 closed

[2021-04-13 08:07] saamerm commented on #68
@pjsecker any updates, or do you want to close this issue/

[2021-04-13 08:08] saamerm commented on #67
@marcellangmaier, any success, do you want to close this?

[2021-04-13 08:09] saamerm commented on #59
@sdinnes would you like to close this issue?

[2021-04-13 08:11] saamerm commented on #53
@waletoye is this still an issue, or would you like to close this?

[2021-04-13 09:41] waletoye commented on #53
@saamerm I realised Samsung s10+ tag are read-only.
I will close this now.

thanks.

[2021-04-13 09:41] #53 closed

[2021-04-13 10:12] sdinnes commented on #59
@saamerm - yes please, you may close this issue now.  Thank you for your help!

[2021-04-13 10:24] adnan-rolustech commented on #72
Well, I don't have any references but I need to implement NFC-V on a cross-platform.

I have tried by cloning the repo. It works fine for a simple NFC but for NFC-V ISO15693 Tags it always gives this error.

[2021-04-13 14:13] saamerm commented on #72
As you mentioned, NFC-V is basically just `ISO 15693` which is supported by both [iOS](https://developer.apple.com/documentation/corenfc/nfciso15693tag) & [Android](https://developer.android.com/reference/android/nfc/tech/NfcV) natively.

Are you able to use a different NFC reader app that is already available in the App Stores?

If you look at [this pull request](https://github.com/franckbour/Plu

[2021-04-19 07:26] #59 closed

[2021-04-19 07:30] #37 closed

[2021-05-04 15:28] JKNAUG opened #74 "Sample for iOS"
How does the initialization in the sample project work for iOS, in MainPage.xaml.cs? Judging from the code, the method CrossNFC.Current.StartListening() is only called when not on iOS, so it would never be invoked on an iOS device. Is the init process different there, or how would it ever work if it doesn't even start listening?
I'm asking because if I tried to do the initialization just like in t

[2021-05-04 15:34] saamerm commented on #74
@JKNAUG the difference between the two platforms is that unlike Android, iOS doesn't support passive listening.
So in the sample we wanted to show that you can be listening for the tag without having the entire UI blocked by the listener.

[2021-05-04 15:46] JKNAUG commented on #74
Thanks for the clarification, I understand that. I actually tried to call StartListening also on iOS initially, because unlike in the sample I did it just the same for all platforms. But as mentioned above, that didn't help either, nothing happened, no exception.
I was hoping that the iOS NFC Scanning UI pops up and I suppose that's the expected behavior?

[2021-05-04 16:01] saamerm commented on #74
@JKNAUG yes. Check your application output for any error messages while debugging and perhaps place an "Exception Catchpoint" to see if there are any suppressed exceptions too.
Also, if you try the attached sample, did you have any success?

[2021-05-05 07:08] JKNAUG commented on #74
I just tried the sample and it works as expected, so I'm kind of lost. Double-checked entitlements and everything seems to be alright. Stepping through both codes, no exception, no warning, no nothing - one works and the other one just doesn't bring up that UI, no matter what I do. So my only explanation is that the scanning UI interferes with something else I have in my other App.

[2021-05-05 13:33] saamerm commented on #74
@JKNAUG noice!
Ok did you remember to add the nuget to your iOS project as well, and did it get added without errors?

[2021-05-06 08:25] JKNAUG commented on #74
@saamerm I actually made it work now!

Two reasons:
1) The nuget was not added to the platform project; doesn't seem to be a problem on Android, but apparently on iOS.
2) The iOS project did not have the Custom Entitlements property set to entitlements.plist, so I suppose the permission weren't set correctly

Thank you very much for your support!

[2021-05-06 18:41] saamerm commented on #74
Amazing, you can close the issue if you're done

[2021-05-07 06:02] #74 closed

[2021-05-28 11:04] #58 closed

[2021-05-28 11:05] #44 closed

[2021-05-29 23:18] Andrei-NZ opened #77 "Android - not capturing intent if application was in foreground on tag scan"
### Description

Library does not seem to capture intent if application is brought to the foreground via IntentFilter (filtering on DataMimeType)

Reason for this seems to be the fact that OnNewIntent is not firing if application is brought in from background.

I am manually applying using the code below, but not sure if this is the correct way to do this and if it is better to move this into libr

[2021-05-31 01:03] pvanroos commented on #33
I added the above code at the end of the 'Current_OnMessageReceived' event handler and I'm still getting the error:  You must disable foreground dispatching while your activity is still resumed

[2021-05-31 03:33] kberawala commented on #33
check if your page is  => var page = new navigationpage(new scanpage());
and not var page = new scanpage(); (this didn't work for me)

[2021-06-06 06:00] Senso4sLab commented on #27
Is any progress with this issue. I think that this issue limited the usage of NFC in Xamarin.Forms. I tested with AppShell and the same problem occurred.

[2021-07-12 15:11] asafgo opened #79 "Add Support for MIFARE tag type"
### Description
Add Support for MIFARE tag type

[2021-08-05 10:58] Tagaishi commented on #72
Hi,
I'm working on the same type of tags (ISO15963) and have the same problem using the plugin v0.1.20 through Nugget and from the sample project.

Unfortunately I cannot try for IOS as I am only developing for Android and this is were it happens for me.

On Android, I have this app that can fully read my tag: https://play.google.com/store/apps/details?id=keum.daniel25.nfcreader1

The info the ori

[2021-08-05 12:48] Tagaishi commented on #72
Further note, as I continued to dig by myself.

It seems that in the function GetTagInfo() in NFC.android.cs, the tag java object is transformed to ndef with Ndef.Get(tag).

In my case, the ndef object is null.

From what I found, the only reason it could be null is if the technologies supported by the tag don't include Ndef,
but after listing those technologies, my tag is able to do NdefFormatabl

[2021-08-24 09:56] JarJarBinkz opened #80 "The readonly function does not set the complete nfc tag to readonly"
### Description

The CrossNFC.Current.PublishMessage(tagInfo, true) method does not set the entire Nfc tag to readonly. For example, it is possible to add or change records using an NFC Writer on the desktop. And that is exactly what should be prevented. The Plugin.NFC says if you want to rewrite a tag described with CrossNFC.Current.PublishMessage(tagInfo, true) that it is readonly. But with my D

[2021-09-07 13:49] tbk21 opened #81 "I am developer at Sperosens, so my problem is that I am unable to make use of the NFC tag reader/scanner. I looked at an example on Github that uses Xamarin Forms franckbour/Plugin.NFC sample and cloned the repository and after that when I try building and running the project the error is "NFC IS DISABLED". I am using iPhone xe mini v14.7.1 and I am running this on Visual Studio on Windows 10."
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Nuget Packages:
- Affected Devices:

### Screenshots

### Reproduction Link

[2021-09-08 04:50] saamerm commented on #81
@tbk21 most likely it's because you are building the app without the entitlements selected. Check your debug build settings and compare them to the release to see if entitlements is being used in debug

[2021-09-08 04:52] saamerm commented on #80
@JarJarBinkz this is a good catch. Are you able to replicate this with android as well using the cloned code?

[2021-09-08 04:57] saamerm commented on #77
Why are you initializing the 'CrossNFC.Init(this);' again? @Andrei-NZ

[2021-09-08 10:54] tbk21 commented on #81
![iOS Plugin NFC (Xamarin Forms)](https://user-images.githubusercontent.com/9007889/132497020-e2ba7264-5923-48a5-af79-e111f215343a.JPG)

I cloned the repository and this is how the iOS Build looks.

[2021-09-08 12:19] tbk21 commented on #81
Okay, it works now. I also had to change my settings on the "iOS Bundle Signing" from  Automatic Provisioning to Manual  Provisioning.

[2021-09-19 13:58] saamerm commented on #79
@asafgo we already added support for MIFARE. Did you try to follow [these steps](https://github.com/franckbour/Plugin.NFC#ios-specific)?

Did it now work for you? Do you know what else needs to be done in order to support Mifare?

[2021-09-19 13:58] saamerm commented on #77
@Andrei-NZ ^

[2021-09-19 13:58] saamerm commented on #80
@JarJarBinkz

[2021-09-19 14:00] saamerm commented on #72
@Tagaish thanks for the explanation, could you possibly submit a PR based on your findings?

[2021-09-19 14:01] saamerm commented on #72
@Tagaishi  thanks for the explanation, could you possibly submit a PR based on your findings?

[2021-09-25 07:18] asafgo commented on #79
I am trying to read my credit card EMV with version 1.20 and I am receiving the error "Unsupported tag".
I would like to have the ability, for POS system to be able to read credit card information for EMV like  [https://github.com/devnied/EMV-NFC-Paycard-Enrollment](url)

[2021-10-06 09:51] JarJarBinkz commented on #80
@saamerm Sorry for the late answer. Unfortunately, I don't have an Android device to test at the moment. If I get an Android device in the next few weeks, I can test this.

[2021-10-19 15:01] Tofalvy opened #82 "Small typo in the sample code"
### Description
Not all of the event subscriptions are unsubscribed in the Unsubscribe method in the sample code.

### Steps to Reproduce
OnTagListeningStatusChanged is resubscribed instead of unsubscribe in the Unsubscribe method in the sample code

### Expected Behavior
Unsubscribe all of the event handlers in the Unsubscribe method

### Actual Behavior
Currently OnTagListeningStatusChanged is n

[2021-10-19 15:26] Tofalvy opened #84 "Unhandled null reference exception"
### Description
Unhandled null reference exception is thrown from the plugin when trying to write to and NFC tag in iOS environment and the any of the records' payload is null.

### Steps to Reproduce

1. Create a new xamarin app with using the sample code
2. Set the payload to null in the OnTagDiscovered event handler method
3. Xamarin application is crashed due to the unhandled null reference ex

[2021-11-11 19:55] chris-krogsystems opened #88 "No event generated on iOS if scan times out"
### Description

On iOS, if the 30 second timeout occurs without a scan, Plugin.NFC will generate an alert from DidInvalidate(), but no event appears to be created to the application.

### Steps to Reproduce

1. Set breakpoints on event handlers for OniOSReadingSessionCancelled and OnNfcStatusChanged.
2. Start NFC scan by calling StartListening(), then wait for 30 seconds.
3. Alert is displayed ("

[2021-11-12 08:27] kerberosargos opened #89 "The native class hasn't been loaded for iOS"
Hello firstly thank you for great plugin. I am getting error as following in iPhone 6.

[code]

Thank you in advance

[2022-01-02 20:46] TheSundayDev opened #90 "Xamarin Forms Android 12 sdk 31 FLAG_IMMUTABLE issue"
### Description
issue on android 12 when call CrossNFC.Current.StartListening();

### Steps to Reproduce

1. Set target android sdk 31
2. run the application
3. call CrossNFC.Current.StartListening();

![image](https://user-images.githubusercontent.com/78725992/147889031-95780bfe-51a5-4aad-ad90-965cf7f4a3f1.png)

thanks

### Expected Behavior

### Actual Behavior

### Basic Information

- Version

[2022-01-03 08:53] #84 closed

[2022-01-03 08:53] #82 closed

[2022-01-14 11:26] TheSundayDev commented on #90
hi all, any news?
thanks a lot!!

[2022-01-31 11:44] TheSundayDev commented on #90
hi all, any news?
thanks a lot!!

[2022-02-01 15:19] #90 closed

[2022-02-01 15:43] franckbour commented on #90
The new version (0.1.21) is available in CI Feed (MyGet).
Let me know if it fixes your problem.

[2022-02-03 14:22] TheSundayDev commented on #90
hi, are you going to put also on NuGet?
thanks

[2022-02-21 13:29] JORGEGO opened #94 "This is not and issue, is a question: Card Emulation"
Can be possible use this excellent plugin as card emulation to send NDEF / NFC messages?

Thanks

[2022-02-25 17:09] Tofalvy opened #95 "Add write support for Mifare Classic tags on apple devices in legacy mode"
### Description
NFCNdefReader session supports NFC tag writing based on the 13th slide of this apple presentation:
https://devstreaming-cdn.apple.com/videos/wwdc/2019/715qg6xyd3qgplhd3m/715/715_core_nfc_enhancements.pdf?dl=1

Currently NFCPlugin doesn't support NFC writing on apple devices in legacy mode, IsWritingTagSupported property of NFCImplementation_Before_iOS13 class is always false, and t

[2022-03-03 19:43] Tofalvy commented on #95
Missing implementation is added, PR is submitted, please, review it.

[2022-03-06 15:51] franckbour commented on #95
PR added to vnext.
Thanks :)

[2022-03-06 16:08] #95 closed

[2022-03-06 16:08] #89 closed

[2022-03-06 16:31] #88 closed

[2022-03-06 18:53] Tofalvy commented on #95
Thanks.
When do you plan to release a new version with these changes included in it?

[2022-03-07 11:47] santana-jorge commented on #94
Hi, I'm a newbie. I'm studying NFC in Xamarin and I would like to know if the Plugin.NFC library can be used to send a message from a mobile device to a reader.

I don't know if what I am asking is related to the question being asked.

The purpose is to simulate that the mobile device is a card and that the reader reads a code.

Is this possible?

Thanks.

[2022-03-07 12:26] saamerm commented on #94
@JORGEGO @santana-jorge
The ability to emulate a card does not exist in iOS, and since this is a cross platform library, we focus on functionality that is available on both iOS & Android as much as possible.
You are however, welcome to submit a Pull Request that includes functionality to emulate cards using Android phones

[2022-03-10 00:17] bgraham1962 opened #97 "Not an issue but a question - Maui support"
Hi,

I was wondering if you plan to produce a Maui version (.net 6.0?) of your plugin?

Thanks in advance
Brian

[2022-03-10 01:24] saamerm commented on #97
We all really want to. I haven't been able to find a good tutorial to see what's needed and I haven't been able to set up Maui completely in order to test and debug. Do you have any resources or do you want to give it a try and submit a pull request?

[2022-03-10 02:11] bgraham1962 commented on #97
Hi @saamerm,

I would love to help but I have not got a clue how to start. I dont know how to write Xamarin plugins let alone Maui ones.  I read elsewhere that if a Xamarin Plugin does not have any UI then it should be as simple as recompiling in .net6.0 but thats all I have heard.

Regards
Brian

[2022-03-10 17:23] saamerm opened #98 "iOS Background Tag Reading on iPhone XS and newer"
### Description

As mentioned [here](https://developer.apple.com/documentation/corenfc/adding_support_for_background_tag_reading), there's an ability to perform background tag reading in iOS as well, from iPhone XS onwards. We should probably add documentation for this in our README and update the sample

[2022-03-14 09:48] marcoseraphin opened #99 "Android scanning stops after 30 minutes"
### Description

The scanning process stops exactly after 30 minutes

### Steps to Reproduce

Create an Android Things app that starts ranging

### Expected Behavior

Scanning continues indefinitely once ranging starts

### Actual Behavior

Scanning stops after 30 minutes

### Basic Information

Mobile device model and OS version

Android 11

Android Beacon Library version

0.1.20

Seems to be sim

[2022-03-14 09:51] #99 closed

[2022-03-14 12:01] saamerm commented on #99
@marcoseraphin why did you close it?

[2022-03-14 12:05] marcoseraphin commented on #99
it was a problem with a beacon library, NOT with the NFC library. I selected the wrong lib. Sorry....

[2022-03-24 16:35] IvesBertoli opened #100 "Xamarin forms NFC.Plugin problem reading tag"
### Description
I developing app using Xamarin Forms and need read NFC card to identify peoples and machines.
So, starting ready the app not return data, return empty data and flag IsSupported is false.

### Steps to Reproduce
1. Start read tag
2. Return message empty (print)

### Expected Behavior
Return data writed

- Version with issue: 0.1.21
- Last known good version:
- IDE: VS Mac
- Platform

[2022-03-24 16:50] saamerm commented on #100
@IvesBertoli what is OBS and OBS2?

[2022-03-24 16:59] IvesBertoli commented on #100
Extra Information (Observation)

[2022-03-24 18:11] saamerm commented on #100
@IvesBertoli what kind of tag are you using and did you see the application output?
"IsSupported" is false, so place some breakpoints and share the steps to see why it is false

[2022-03-24 19:46] IvesBertoli commented on #100
this screenshot is result of another android app (https://play.google.com/store/apps/details?id=com.ssaurel.nfcreader).

![WhatsApp Image 2022-03-24 at 16 28 20](https://user-images.githubusercontent.com/30444349/159996901-4c9ca365-07e8-4d3a-83ad-8afc6ddc2b07.jpeg)

[2022-03-25 19:31] IvesBertoli commented on #100
@saamerm, can you help?

[2022-03-25 19:35] saamerm commented on #100
@IvesBertoli I dont have the nfc tags that you are using unfortunately.

As I asked before, when you were debugging: did you see the application output?
"IsSupported" is false, so place some breakpoints and could share what is the reason that it is returning false?

[2022-03-28 15:01] dev-vinicius commented on #100
I was having the same issue, after format the tag with NDEF format with another app (https://play.google.com/store/apps/details?id=com.manjul.utility.nfc.writer&hl=pt_BR&gl=US) it starts working. Is there a way to add a method for this ?

Example method in Android: https://developer.android.com/reference/android/nfc/tech/NdefFormatable?authuser=2

[2022-04-06 13:10] forzaphil opened #101 "Additional steps for accessing ePassports"
I am using the Nuget Plugin.NFC in a Xamarin.iOS app. I want to read data from EU and British passports. I have added the following to the info.plist

<key>NFCReaderUsageDescription</key>
	<string>NFC tag to read NDEF messages into the application</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A000000247200

[2022-04-06 15:48] forzaphil commented on #101
OK. The more I dig the more I see how complicated it is to extract the data from the RFID is passports. I guess that's not considered to be part of this solution?

[2022-04-06 16:11] saamerm commented on #101
@forzaphil that is correct. There is only a certain number of RFID tags that are supported by the hardware of iPhones and Android phones. Reading data from passport chips is not something that it is capable of doing.

[2022-04-06 16:15] saamerm commented on #100
@dev-vinicius I dont have NFC tags of that type in order to test it, did you want to submit a PR with that functionality?

[2022-04-07 01:55] dev-vinicius commented on #100
https://github.com/franckbour/Plugin.NFC/pull/102

[2022-04-12 13:40] Immons commented on #89
@franckbour  So you closed it, but have it been published yet?

[2022-04-12 21:11] MiguelLobato237 opened #103 "Plugin.NFC can't read NFC Tags after write in ACS ACR122U device"
### Description
After writing to an NFC card with the ACS ACR122U device, I try to read the same tag from an app I'm developing in Xamarin.Forms, however it always returns False in the tagInfo.IsSupported section in the Current_OnMessageReceived method

### Steps to Reproduce

1. Write a message on an NFC tag
2. Attempt to read the same NFC tag in the Xamarin.Forms app

### Expected Behavior

###

[2022-04-23 15:58] ilginbalkes opened #104 "NFC"
NFC

[2022-05-01 08:44] #104 closed

[2022-05-03 19:13] kaansengul opened #106 "MifareUltralight support?"
Hi,

I've tried your sample code with **MifareUltralight** card but it gave me "Unsupported tag (app)" error.

Is there a way to read it?

[2022-05-08 06:59] saamerm commented on #33
This solution worked for me too. @pvanroos were you able to figure out your issue?

[2022-05-08 07:00] saamerm commented on #103
@MiguelLobato237 did you try to add the library by cloning this repository and then adding a break point to see why it is returning false?

[2022-05-08 07:01] saamerm commented on #106
@kaansengul  did you try to add the library by cloning this repository and then adding a break point to see why it is giving you an error?

[2022-05-09 14:43] saamerm opened #107 "Null Reference Exception - Causing crashes on iOS"
### Description

On some NFC tags, if the tag is new and empty, the library will raise a null reference exception, and apps can crash. I wasn't able to replicate the crash because I dont have a tag that I can empty, but when I looked at the stack trace, it pointed me to the `GetRecords` function in the code.
When reading through the function, [this line](https://github.com/franckbour/Plugin.NFC/bl

[2022-05-11 14:12] NageshD-Obeliskstech opened #108 "OnMessageReceived, OnTagDiscovered event handlers are not working - Xamarin Forms - iOS"
### Description
The events are subscribed to before StartListening(). But those are not getting called after the NFC tag read operation.

### Expected Behavior
Usually, when the NFC tag reads successfully OnMessageReceived should get called and should publish the message.

### Actual Behavior
Subscribed events (OnMessageReceived, OnMessagePublished, OnTagDiscovered) are not getting called.

### Ba

[2022-05-11 14:15] saamerm commented on #108
@NageshD-Obeliskstech  Are you sure CrossNFC.IsSupported, !CrossNFC.Current.IsAvailable, !CrossNFC.Current.IsEnabled values are all true for you?
You likely haven't included entitlements in your build

[2022-05-11 17:19] NageshD-Obeliskstech commented on #108
@saamerm Yes, the values of those all are true. And have added 'com.apple.developer.nfc.readersession.formats' for NDEF and TAG.

[2022-05-11 17:57] NageshD-Obeliskstech commented on #108
@saamerm  Yes, the values of those all are true. And have added 'com.apple.developer.nfc.readersession.formats' for NDEF and TAG.

[2022-05-15 06:02] saamerm commented on #108
@NageshD-Obeliskstech are you testing the sample or just your own solution? Was it working before and it just stopped?

[2022-05-17 21:14] petetataliba opened #109 "No event firing when IOS StartListening() encounters a read failure"
### Description
On iOS, if there is an error reading, there is no event fired to handle the missed tag reading
### Steps to Reproduce

1. start listening
2. create a read error reading NDEF tag. i can do this by passing the phone by my tag quickly, so that it is out range after the trigger to read and the actual reading of the NDEF message

### Expected Behavior
should there be an event that fires

[2022-05-19 06:41] zLordZachy commented on #107
Same problem. And I agree with fix, that could be solution.
I think it is really critical bug. IPhone is not able to read NFC.
This error came with IOS 15.4.1

[2022-05-24 03:17] thedee commented on #98
Any update on this?  Has any documentation been added?

[2022-06-01 17:44] iaps commented on #108
@NageshD-Obeliskstech did you ever get this working?  I am having a similar issue.

[2022-06-07 10:45] cbirsen commented on #108
I am having the same issue, would you please let me know if you ever solve it?

[2022-06-13 12:35] HoGo72 commented on #107
Same for me

[2022-06-14 07:37] franckbour commented on #107
PR merged.
Thanks @saamerm.

[2022-06-14 07:37] #107 closed

[2022-06-14 09:09] HoGo72 commented on #107
I've installed 0.1.23
Scanning new, empty tag: still null pointer exception
  at Plugin.NFC.NFCNdefPayloadExtensions.GetRecords (CoreNFC.NFCNdefPayload[] records) [0x00001] in <59d13a6c12aa408eb586088692362977>:0
  at Plugin.NFC.NFCImplementation+<>c__DisplayClass51_2.<DidDetectTags>b__2 (CoreNFC.NFCNdefMessage message, Foundation.NSError error) [0x000b2] in <59d13a6c12aa408eb586088692362977>:0

[2022-06-14 10:01] HoGo72 commented on #107
The null pointer exception is now NFC.ios.cs, line 1171
var results = new NFCNdefRecord[records.Length];
because records is null,.

A line like
if ((records == null) || (records.Length == 0)) return null;
just before is working for me.

Regards, Holger Gothan.

[2022-06-24 07:37] Gabkotech opened #113 "App crash after scan the NFC in iPhone X (15.4.1)"
### Description
**After update to v0.1.22 or v0.1.23, the App will crash when scanning the NFC.**

**Working in android but iOS facing this issue. if update back to v0.1.21 it's working fine.**

[0:] An error occurred: 'Object reference not set to an instance of an object.'. Callstack: '  at Plugin.NFC.NFCNdefPayloadExtensions.GetRecords (CoreNFC.NFCNdefPayload[] records) <0x10ce5eb38 + 0x00006> i

[2022-06-28 19:27] kerberosargos opened #114 "NFC can not enable in iOS 15.5"
### Description

I am living very interesting behavior. When I deploy my project to my physical iPhone in Debug mode NFC is working. But When I install my same project's release package into same iPhone, NFC is not working.

When my iPhone's iOS version was 15.2 NFC was working with same project and same settings in release mode.  My release mode setting's screenshot is as following. Also I have t

[2022-06-28 21:05] kerberosargos commented on #114
I have solved my problem by apply this solution. https://github.com/franckbour/Plugin.NFC/issues/81#issuecomment-914911378 Thank you very much @saamerm

[2022-07-06 10:07] sushant-shidore opened #115 "Android - NFC tag doesn't get detected if phone is already in contact with the tag before tag scanning is initiated"
### Description
My app has a specific requirement where detection of NFC tag should be done only when user has performed some prior actions and is then ready to read data from an NFC tag. Tag detection and automatic opening of the app using intent filters is not something which I can use.
On iPhones, NFC tag gets detected even when the phone is already in contact with the NFC tag and then NfcSessi

[2022-07-24 20:15] thedee commented on #113
I get the same error using an iPhone XS.  In my case the error occurs when scanning an empty tag.

[code]

[2022-07-28 21:06] shenoyv opened #117 "Just a Question Not a issue"
I Want to know whether this plugin supports NFC NTAG 213? I was trying this sample code. In the Current_OnMessageReceived(ITagInfo tagInfo) method. I am able to get the serial number of the Tag but It hits the condition if (!tagInfo.IsSupported). This means the plugin is not suited for NtAg 213??? Am I doing something wrong?

[2022-08-17 05:51] thatkidyousaw1 opened #118 "Missing Entitlement error on MAUI sample app"
### Description

Missing entitlement is observed when trying to scan NFC tags using an iPhone device, Android version works well.

### Steps to Reproduce

1. Run sample MAUI application
2. Press Start Listening
3. Missing Entitlement prompt is displayed.

### Expected Behavior
NFC Card is scanned successfully
### Actual Behavior
Missing Entitlement prompt is displayed
### Basic Information

- Vers

[2022-08-18 05:37] dennisarriola opened #119 "This functionality is not implemented in the portable version of this assembly."
### Description
Hi, I am using Plugin.NFC version 0.1.23 from NuGet.
I am actually basin your sample application in our sample application but I cannot seems be able to start listening in iOS.
Android is fine, but iOS is throwing this error : "This functionality is not implemented in the portable version of this assembly. You should reference the NuGet package from your main application project in

[2022-08-19 10:06] #113 closed

[2022-08-20 16:29] franckbour commented on #119
A new version (0.1.26) has been released with .NET MAUI Support.
Could you check out and let me know if it fixed your problem.

[2022-08-20 16:29] #119 closed

[2022-08-20 16:37] franckbour commented on #117
Yes, it works with NTAG 213.
Is your tag formatted? Use an app like NFC Tools to check your tag. If it's NdefFormatable instead of Ndef, you need to format it in order to use it with this plugin.

[2022-08-20 16:37] #117 closed

[2022-08-20 16:39] franckbour commented on #118
Which entitlement is missing?
Did you follow the iOS specifics section in the readme?

[2022-08-20 17:45] saamerm commented on #115
@sushant-shidore if you use another published NFC app on android, what is the behavior you see?

[2022-08-20 17:46] saamerm commented on #109
@petetataliba did you try to assign a function to the iOS failure event handler ?

[2022-08-20 17:48] saamerm commented on #108
@iaps and @cbirsen are you all trying the solution example in this repository and having this issue?

[2022-08-22 01:14] thatkidyousaw1 commented on #118
Hi @franckbour ,

I added all the required strings to be added in both Info.plist and Entitlements.plist. I added the correct profile in Apple Developer as well with NFC Reading Capabilities but it is still displaying a "Missing Entitlements" prompt after the default iOS NFC Scanning UI.

Any idea what's causing the issue?

[2022-08-22 03:52] saamerm commented on #118
@thatkidyousaw1
Based on what you’re saying, Under “signing capabilities”, you don’t have “Entitlements.plait” included for your “Debug”-> “iPhone” configuration.
if that doesn’t make sense, share screenshots for you iOS project settings

[2022-08-22 05:00] thatkidyousaw1 commented on #118
Hi @saamerm ,
This is the current configuration.

![image](https://user-images.githubusercontent.com/35909220/185842712-8979cb2e-3a54-4a4b-8cf4-43625a4e57e4.png)

I'm running a MAUI project btw so the view may be different.

[2022-08-23 01:34] thatkidyousaw1 commented on #118
Just a follow-up, this is the .csproj

![image](https://user-images.githubusercontent.com/35909220/186049000-643c6fd1-2fb7-492f-ac57-c3ce44b84716.png)

[2022-08-23 15:13] saamerm commented on #118
Hmm you're right. Are you just testing the MAUI example provided? @thatkidyousaw1 or do you want to share another git repo that I can test with?

[2022-08-24 01:35] thatkidyousaw1 commented on #118
Hi @saamerm ,

Yes we only tested the MAUI example provided. Can you try running it on your end and check if the same issue occurs?

Thanks alot.

[2022-08-24 08:35] franckbour commented on #118
@thatkidyousaw1 I just tested the MAUI example and it works as expected!

The csproj file of the example looks like this :

[code]

[2022-08-25 14:48] AlanGusLive commented on #27
I use another workaround for my MAUI application. In the OnAppearing() and OnDisappearing() functions, I directly return when the application is not navigating between pages (called when NFC is used). In AppShell.xaml.cs, I set a static bool to true in the function OnNavigating(ShellNavigatingEventArgs args). After in All OnAppearing(), I test this bool to directly return or to set it to false and

[2022-08-26 05:12] thatkidyousaw1 commented on #118
May I ask for the configuration you have made with iOS Bundle Signing? Seems like our Apple Dev profile won't connect. Here's ours.

`<Project Sdk="Microsoft.NET.Sdk">

	<PropertyGroup>
		<TargetFrameworks>net6.0-android;net6.0-ios;net6.0-maccatalyst</TargetFrameworks>
		<TargetFrameworks Condition="$([MSBuild]::IsOSPlatform('windows'))">$(TargetFrameworks);net6.0-windows10.0.19041.0</TargetFramew

[2022-08-26 07:03] franckbour commented on #118
This is my iOS Bundle Signing configuration (same as yours but the UI is in french)

<img width="482" alt="image" src="https://user-images.githubusercontent.com/7092552/186842485-87f6f0c5-4e42-4533-aaaf-8b5115a1c86a.png">

[2022-09-04 07:04] sushant-shidore commented on #115
I tried the [NFC Tools app](https://play.google.com/store/apps/details?id=com.wakdev.wdnfc&hl=en_IN&gl=US) and it gave mixed observations. The 'Read' feature of the app doesn't work if the phone is already in contact with the NFC tag and then the read action is triggered. However, the app has a feature to type and send mifare commands in its Advanced section. This feature works even when phone is

[2022-09-14 01:54] thatkidyousaw1 commented on #118
Do you agree that the problem was from my Apple Developer account / permission with NFC? Since we both have the same configurations.

@franckbour

[2022-09-14 07:11] thatkidyousaw1 commented on #118
Hi @franckbour , May I ask for the process on how did you run the MAUI app on iOS? Did you run this via Debug and on VS2022?

[2022-09-14 07:50] franckbour commented on #118
@thatkidyousaw1 Yes, I run the sample on VS2022 17.3 in debug mode.
In your apple developer account, do you have "NFC Tag Reading" capability enabled in your profile like below ?
![image](https://user-images.githubusercontent.com/7092552/190093558-7f6020f7-c296-43be-b126-2e12ea8aaa00.png)

[2022-09-14 07:56] thatkidyousaw1 commented on #118
Yes, this is added already :(

[2022-09-14 07:56] thatkidyousaw1 commented on #118
Hi again @franckbour ,
This is added already :( I don't know why it is still showing the Missing entitlements error

![image](https://user-images.githubusercontent.com/35909220/190095604-b09705bf-cfc6-4d5f-baa4-376cbe59517b.png)

[2022-09-14 08:17] franckbour commented on #118
@thatkidyousaw1 Which version of VS2022 do you use ?

[2022-09-14 08:33] thatkidyousaw1 commented on #118
@franckbour Same as yours which is 17.3

![image](https://user-images.githubusercontent.com/35909220/190103749-5457c2a3-5795-4fef-9775-fe6893a85b40.png)

Could the Apple Developer License not enable NFC Tag Reading on my end? But I can select it when creating Provisioning Profile anyway

[2022-09-15 07:37] thatkidyousaw1 commented on #118
Tried to clone your current project file, still the same issue :(

Time	Device Name	Type	PID	Tag	Message
Sep 15 15:35:49	OPPO-F5	Error	73766	Xamarin.PreBuilt.iOS(libnfshared.dylib)	00000002 8242c3f0 -[NFCTagReaderSession _connectTag:error:]:686  Error Domain=NFCError Code=2 "Missing required entitlement" UserInfo={NSLocalizedDescription=Missing required entitlement}

[2022-09-15 09:30] thatkidyousaw1 commented on #118
@franckbour Hi, Sample App is now working, I will now be closing this ticket.

Updating the info.plist file to this code snippet below did the trick.

`<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
<array>
    <string>D2760000850101</string>
</array>
<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
<array>
    <string>12FC</string>
</array>`

[2022-09-15 09:30] #118 closed

[2022-10-14 18:10] jpsaccount commented on #108
Unfortunately, having the same issue.. however it triggers the iOS cancelled event.

[2022-10-14 18:29] saamerm commented on #108
@jpsaccount are you trying this on the sample? And you’re not having any success?

[2022-11-09 13:28] aakybreaky commented on #60
Hello. Is there something done for this problem? OniOSReadingSessionCancelled and OnMessageReceived are not fired in this case.

[2022-11-22 13:41] Ninishap1997 opened #122 "Unsupported tag (app)"
Hi all!

I am new to xamarin, I use this plugin for my project, I need to read the pass card. As soon as I start to read the card, it displays the message "Unsupported tag (app)". Tell me what needs to be corrected in order to read data from pass card.